/* |Projects Component Container| */

/* font-1 - Rockinline font */
@font-face {
    font-family: rockinline;
    src: url(../fonts/rockinline/Rockinline.ttf);
}

/***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************/
.projects-component-container > div:nth-child(2){ /* Project Image Header Container */
    display: flex;
    justify-content: center;
}
.projects-component-container > div:nth-child(2) > img[src]{ /* Project Image */
    border-radius: 10px;
}

.project-content-section{ /* Content section container for each project. */
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
    height: 100vh;
}
.project-content-section > div{ /* Content */
    font-family: rockinline, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    letter-spacing: 3px;
}

/***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************/
/* Media Section - For mobile devices and tablets */
/* media-0 - Desktop miniaturization and mobile devices. */
@media only screen and (max-width: 600px){
    .projects-component-container > div:nth-child(2){ /* Project Image Header Container */
        display: flex;
        justify-content: center;
        
        padding: 10px;
    }
    .projects-component-container > div:nth-child(2) > img[src]{ /* Project Image */
        border-radius: 10px;
    }

    .project-content-section{ /* Content section container for each project */
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top:30px;
        height: 100vh;
    }
    .project-content-section > div{ /* Content */
        font-family: rockinline, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        letter-spacing: 3px; 
    }
}