/* |Workspace Window Component Container| */


/* Media Section - For mobile devices and tablets */
/* media-0 - Desktop miniaturization and mobile devices. */
@media only screen and (max-width: 600px){
    .workspace-window-component-container{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background: linear-gradient(to right, #000428, #004e92);
    }


}