/* |Workspace Login Component Container| */


/* Media Section - For mobile devices and tablets */
/* media-0 - Desktop miniaturization and mobile devices. */
@media only screen and (max-width: 600px){
    /* |Workspace Login|*/
    #workspace-login{
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 10px;
        font-size: 18px;
        margin-top: 100px;
    }
    #workspace-login > div:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }
    #workspace-login > div:nth-child(1) > label{ /* Title */
        font-family: rockinline, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: bold;
        letter-spacing: 3px;
        color:#f59e0b;
    }
    #workspace-login > div:nth-child(1) > p{ /* caption */ 
        color:#f59e0b;
        text-align: center;
    }
    #workspace-login > div:nth-child(1) > input{
        border-radius: 10px;
        border: 1px solid #a1a1aa;
        padding: 5px 10px 5px 10px;
        font-size: 17px;
        background-color: inherit;
        color: #e2e8f0;
    }
    #workspace-login > div:nth-child(1) > input:focus{
        outline: none;
        border: 1px solid #71717a;
    }
    #workspace-login > div:nth-child(2) > button{
        padding: 5px 30px 5px 30px;
        border-radius: 10px;
        border: 1px solid #a1a1aa;
        font-size: 18px;
        color: #f59e0b;
        background-color: inherit;

    }
}